body {
    padding-left: 50px;
    padding-right: 50px;
}

#card-container {
    background-image: url("./assets/null_card.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 450px;
    height: 600px;
}

/* card styles */

#english-name {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

#pokemon-name {
    margin-left: 110px;
    padding-top: 24px;
    line-height: 13px;
}

#hp {
    float: right;
    padding-right: 85px;
    font-size: 16px;
    padding-top: 8px;
}

.pokemonImg {
    width: 230px;
    height: auto;
    margin-left: 100px;
    margin-bottom: 20px;
}

#pkmn-description {
    font-size: 10px;
    margin-left: 60px;
    margin-top: -27px;
}

#text-description {
    padding-left: 20px;
    padding-right: 50px;
    font-size: 12px;
}

#title-description {
    padding-left: 20px;
    font-size: 16px;
    line-height: 5px;
}